.vscode/

.venv*/
.venv.biot/
**/__pycache__/

/finetune/*/
!/finetune/patches/
/datasets/
/models/
/logs*/
/workspace*/
/checkpoints/*
/runs/

# For offline git repo migration
*.pack

# notebooks for test
*.ipynb

# raw experiments results
*.csv
*.sqlite3

shells/
notebooks/

*.server/
deprecated/