[submodule "thirdparty/BIOT"]
	path = thirdparty/BIOT
	url = https://github.com/ycq091044/BIOT.git
[submodule "thirdparty/ToMe"]
	path = thirdparty/ToMe
	url = https://github.com/facebookresearch/ToMe.git
[submodule "thirdparty/EEGPT"]
	path = thirdparty/EEGPT
	url = https://github.com/BINE022/EEGPT
[submodule "thirdparty/LaBraM"]
	path = thirdparty/LaBraM
	url = https://github.com/935963004/LaBraM
[submodule "thirdparty/CBraMod"]
	path = thirdparty/CBraMod
	url = https://github.com/wjq-learning/CBraMod
