**/datasets/**/*.*
checkpoints*/
logs*/
.venv/
.venv.biot/
**/__pycache__/

*.csv
**/workspace

# For offline git repo migration
*.pack

LaBraM/log/
LaBraM/logs/

**/log*/

.vscode/

# BIOT
!models/BIOT2/datasets/*/*.py

# CBraMod
!models/CBraMod/datasets/
models/CBraMod/datas

*.ipynb