.vscode/

.venv*/
**/__pycache__/

/finetune/*/
!/finetune/patches/

# Include splits.json so that same splits can be reproduced.
/datasets/*
!datasets/tuab/
datasets/tuab/*
!datasets/tuev/
datasets/tuev/*
!datasets/*/splits.json

/logs*/
/workspace*/
/checkpoints/*
/runs/

# For offline git repo migration
*.pack

# notebooks for test
*.ipynb

# raw experiments results
*.csv
*.sqlite3

shells/
notebooks/

*.server/
deprecated/

*optuna*.py
*optuna*.sh

jetson/
onnxs/
pts/
*.onnx
*.whl