[submodule "thirdparty/BIOT"]
	path = thirdparty/BIOT
	url = https://github.com/ycq091044/BIOT.git
[submodule "thirdparty/ToMe"]
	path = thirdparty/ToMe
	url = https://github.com/facebookresearch/ToMe.git
[submodule "thirdparty/EEGPT"]
	path = thirdparty/EEGPT
	url = https://github.com/BINE022/EEGPT
[submodule "thirdparty/LaBraM"]
	path = thirdparty/LaBraM
	url = https://github.com/935963004/LaBraM
[submodule "thirdparty/CBraMod"]
	path = thirdparty/CBraMod
	url = https://github.com/wjq-learning/CBraMod
[submodule "thirdparty/fairseq-signals"]
	path = thirdparty/fairseq-signals
	url = https://github.com/Jwoo5/fairseq-signals.git
[submodule "thirdparty/ecg-fm"]
	path = thirdparty/ecg-fm
	url = https://github.com/bowang-lab/ecg-fm.git
[submodule "thirdparty/TFM-Tokenizer"]
	path = thirdparty/TFM_Tokenizer
	url = https://github.com/Jathurshan0330/TFM-Tokenizer.git
[submodule "thirdparty/FasterVLM"]
	path = thirdparty/FasterVLM
	url = https://github.com/Theia-4869/FasterVLM.git
[submodule "thirdparty/DART"]
	path = thirdparty/DART
	url = https://github.com/ZichenWen1/DART.git
[submodule "thirdparty/PPT"]
	path = thirdparty/PPT
	url = https://github.com/xjwu1024/PPT
[submodule "thirdparty/STEEGFormer"]
	path = thirdparty/STEEGFormer
	url = https://github.com/LiuyinYang1101/STEEGFormer
[submodule "thirdparty/CodeBrain"]
	path = thirdparty/CodeBrain
	url = https://github.com/jingyingma01/CodeBrain
[submodule "thirdparty/evit"]
	path = thirdparty/evit
	url = https://github.com/youweiliang/evit
[submodule "thirdparty/prune_and_merge"]
	path = thirdparty/prune_and_merge
	url = https://github.com/NUST-Machine-Intelligence-Laboratory/prune_and_merge
[submodule "thirdparty/BENDR"]
	path = thirdparty/BENDR
	url = https://github.com/SPOClab-ca/BENDR
[submodule "thirdparty/dn3"]
	path = thirdparty/dn3
	url = https://github.com/SPOClab-ca/dn3
